*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Mac Rubbish
.DS_Store
*.user
Qt/AVController/AVController.pro.user.5319f46
Qt/AVController/AVController.pro.user.aa875e9
Qt/AVController/Makefile.Debug
Qt/AVController/Makefile.Release
*.o
Qt/AVController/0.0.1/Makefile.Debug
*.Release
*.exe
Qt/AVController/0.0.1/debug/moc_mainwindow.cpp
Qt/AVController/0.0.1/debug/moc_serialportlist.cpp
Qt/AVController/0.0.1/ui_settings.h
Qt/AVController/0.0.1/object_script.AVController.Debug
Qt/AVController/0.0.1/Makefile
Qt/AVController/0.0.1/ui_mainwindow.h
Qt/AVController/0.0.1/debug/moc_pjlink.cpp
Qt/AVController/0.0.1/ui_serialportlist.h
Qt/AVController/0.0.1/debug/moc_settings.cpp
Qt/AVController/debug/moc_mainwindow.cpp
Qt/AVController/debug/moc_serialportlist.cpp
Qt/AVController/object_script.AVController.Debug
Qt/AVController/ui_settings.h
Qt/AVController/ui_settings.h
Qt/AVController/debug/moc_settings.cpp
Qt/AVController/debug/moc_pjlink.cpp
Qt/AVController/ui_settings.h
Qt/AVController/ui_mainwindow.h